<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juzi.chien.admin.mapper.SysRoleMapper">

    <!-- 根据用户ID查询角色列表 -->
    <select id="selectRolesByUserId" resultType="com.juzi.chien.admin.domain.entity.SysRole">
        SELECT r.*
        FROM `chien-role` r
        INNER JOIN `chien-user_role` ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

</mapper>
